.navigation li a:link:hover,
.navigation :visited:hover, .button:hover {
  transition: all 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.9rem;
  font-weight: 400;
}

h2 {
  font-size: 10.65rem;
  line-height: 75%;
  text-transform: uppercase;
}

h3 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 120%;
}

h4 {
  font-size: 3.6rem;
  line-height: 130%;
  font-weight: 400;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 298px;
  height: 54px;
  text-transform: uppercase;
  background-color: #f9804b;
  color: white;
  border: none;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.button:hover {
  background-color: #e47209;
}
.button--round {
  border-radius: 25px;
}
.button--square {
  border-radius: 5px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.hamburger__line {
  width: 18px;
  height: 2px;
  border-radius: 4px;
  background-color: white;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 640px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 330px) {
  .wrapper {
    padding: 0 10px;
  }
}

.header {
  background-color: black;
  padding: 14px 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}
@media (max-width: 999px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0;
    height: 34px;
    display: flex;
    align-items: center;
  }
}
.header .wrapper {
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 100%;
}
@media (max-width: 999px) {
  .header .wrapper {
    justify-content: space-between;
  }
}
.header .wrapper .logo {
  margin-right: 63px;
  padding: 5px 0;
}
@media (max-width: 999px) {
  .header .wrapper .logo h1 {
    font-size: 12px;
  }
}
@media (max-width: 999px) {
  .header .wrapper {
    justify-content: space-between;
  }
}

.header__hamburger {
  display: none;
}
@media (max-width: 999px) {
  .header__hamburger {
    display: flex;
  }
}

@media (max-width: 1000px) {
  .header__navigation .navigation {
    gap: 48px;
  }
}
@media (max-width: 800px) {
  .header__navigation .navigation {
    gap: 20px;
  }
}
@media (max-width: 999px) {
  .header__navigation {
    display: none;
  }
}

.header__designed-by {
  margin-left: auto;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
@media (max-width: 999px) {
  .header__designed-by {
    display: none;
  }
}
.header__designed-by:link,
.header__designed-by :visited {
  color: white;
}

.footer {
  overflow: hidden;
  color: white;
  background-color: black;
}
.footer .wrapper {
  padding: 40px 18px 50px 43px;
  position: relative;
}
@media (max-width: 640px) {
  .footer .wrapper {
    padding: 12px 20px 12px 20px;
  }
}
.footer__logo,
.footer :visited {
  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 72.49px;
  height: 44.91px;
  border: 1px solid white;
  padding-top: 3px;
}
@media (max-width: 640px) {
  .footer__logo,
.footer :visited {
    width: 82px;
    height: 52px;
  }
}
@media (max-width: 460px) {
  .footer__logo,
.footer :visited {
    font-size: 19px;
    border: none;
    width: 128px;
    align-items: center;
  }
}
@media (max-width: 320px) {
  .footer__logo,
.footer :visited {
    height: auto;
  }
}

.footer__block-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
@media (max-width: 640px) {
  .footer__block-1 {
    margin-bottom: 33px;
  }
}
@media (max-width: 460px) {
  .footer__block-1 {
    margin-bottom: 76px;
    justify-content: center;
  }
}

.footer__subscribe p {
  font-size: 24px;
  margin-bottom: 14px;
}
@media (max-width: 640px) {
  .footer__subscribe {
    display: none;
  }
}

.footer__input {
  padding: 1rem 1rem;
  background-color: #111115;
  color: #bdbdbd;
  border: 0.07rem solid #f9804b;
  outline: none;
  font-size: 1.6rem;
  border-radius: 0.2rem;
  margin-right: 9px;
}

@media (max-width: 1000px) {
  .footer__form {
    margin-right: 40px;
  }
}

.footer__form-button {
  font-size: 1.6rem;
  padding: 1rem 3.9rem;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}

.footer__button {
  margin-bottom: 44px;
}
@media (max-width: 460px) {
  .footer__button {
    margin-bottom: 109px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .footer__button {
    padding-top: 13px;
  }
}

.footer__block-2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .footer__block-2 {
    padding-top: 40px;
  }
}
@media (max-width: 460px) {
  .footer__block-2 {
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .footer__block-2 {
    display: block;
    padding-top: 0px;
  }
}

.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 640px) {
  .footer__socials {
    position: absolute;
    top: 12px;
    right: 20px;
    gap: 20px;
  }
}
@media (max-width: 460px) {
  .footer__socials {
    top: 73px;
    flex-direction: row;
    left: 50%;
    transform: translate(-50%, 0);
    right: 0;
  }
}
@media (max-width: 320px) {
  .footer__socials {
    left: 47%;
    gap: 30px;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: #767474;
  border-radius: 100%;
}

@media (max-width: 640px) {
  .social__name {
    display: none;
  }
}

@media (max-width: 1000px) {
  .footer__navigation {
    margin-left: 100px;
  }
}
@media (max-width: 700px) {
  .footer__navigation {
    margin-left: 0;
  }
}
@media (max-width: 640px) {
  .footer__navigation .navigation {
    gap: 37px;
  }
}
@media (max-width: 600px) {
  .footer__navigation .navigation {
    gap: 24px;
  }
}
@media (max-width: 520px) {
  .footer__navigation .navigation {
    gap: 12px;
  }
}
@media (max-width: 320px) {
  .footer__navigation .navigation {
    justify-content: space-between;
  }
}
@media (max-width: 1000px) {
  .footer__navigation .navigation .navigation__donate {
    display: none;
  }
}

.footer__credits {
  font-weight: 100;
  max-width: 220px;
  font-size: 15px;
}
@media (max-width: 700px) {
  .footer__credits {
    max-width: 180px;
  }
}
@media (max-width: 640px) {
  .footer__credits {
    max-width: 220px;
  }
}
@media (max-width: 460px) {
  .footer__credits {
    position: absolute;
    top: 220px;
    left: 85px;
    max-width: 240px;
    width: 220px;
    line-height: 200%;
  }
}
@media (max-width: 320px) {
  .footer__credits {
    top: 200px;
    font-size: 15px;
  }
}

.logo {
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  width: 82px;
  height: 52px;
  display: flex;
  align-items: center;
}
@media (max-width: 999px) {
  .logo {
    width: 46px;
    height: 29px;
    border: none;
  }
}
.logo:visited {
  color: white;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 58px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .navigation {
    gap: 48px;
  }
}
.navigation li a:link,
.navigation :visited {
  color: #ffffff;
  text-decoration: none;
}
.navigation li a:link:hover,
.navigation :visited:hover {
  color: #e47209;
}

.hero {
  background-image: url("../../img/hero/hero.png");
  height: 780px;
  padding: 167px 220px 100px 198px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 0;
}
@media (max-width: 1599px) {
  .hero {
    height: 584px;
    background-size: 100%;
    background-position: 50%;
    padding: 123px 93px 47px 0;
    background-size: cover;
  }
}
@media (max-width: 999px) {
  .hero {
    height: 373px;
    padding: 83px 20px 40px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
}
@media (max-width: 639px) {
  .hero {
    height: 295px;
    padding: 33px 0px 30px 0px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-image: none;
  }
}

.hero__wrapper {
  width: 1160px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 60px;
}
@media (max-width: 1599px) {
  .hero__wrapper {
    width: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 40px;
  }
}
@media (max-width: 999px) {
  .hero__wrapper {
    gap: 0;
  }
}
@media (max-width: 639px) {
  .hero__wrapper {
    height: 187px;
    padding: 43px 11px 0 0;
    background-size: cover;
    background-position-x: 50%;
    gap: 60px;
    background-image: url("../../img/hero/hero.png");
  }
}

.hero__content {
  display: flex;
  position: relative;
}
@media (max-width: 1599px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 999px) {
  .hero__content {
    margin: 0;
  }
}

.hero__heading {
  z-index: 2;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 500px;
}
@media (max-width: 1599px) {
  .hero__heading {
    font-size: 85px;
    margin: 0 0 0 0;
    width: 400px;
  }
}
@media (max-width: 999px) {
  .hero__heading {
    font-size: 54px;
    width: 255.64px;
  }
}
@media (max-width: 639px) {
  .hero__heading {
    font-size: 28px;
    width: 128px;
  }
}

.hero__highlighted {
  color: #ffee2e;
}

.hero__circle {
  z-index: 1;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: #f9804b;
  position: absolute;
  top: -76px;
  right: 96px;
}
@media (max-width: 1599px) {
  .hero__circle {
    width: 367px;
    height: 367px;
    top: -54px;
    right: 87px;
  }
}
@media (max-width: 999px) {
  .hero__circle {
    width: 238px;
    height: 238px;
    top: -39px;
    right: 51px;
  }
}
@media (max-width: 639px) {
  .hero__circle {
    width: 119px;
    height: 119px;
    top: -20px;
    right: 27px;
  }
}

.hero__button {
  margin-right: 90px;
}
@media (max-width: 1599px) {
  .hero__button {
    margin-right: 44px;
  }
}
@media (max-width: 999px) {
  .hero__button {
    margin: -7px 0 0px 0;
    align-self: flex-start;
    padding: 0px 0px 16px 5px;
  }
}
@media (max-width: 639px) {
  .hero__button {
    margin: 0px -10px 0px 0px;
    padding: 0px 0px 16px 5px;
    align-self: center;
  }
}

.backstage {
  position: relative;
  align-items: flex-start;
  overflow: hidden;
  padding: 110px 0px 152px 0px;
  line-height: 140%;
  text-indent: 0;
}
@media (max-width: 1000px) {
  .backstage {
    padding-bottom: 142px;
  }
}
@media (max-width: 640px) {
  .backstage {
    padding: 60px 0px 80px 0px;
  }
}
@media (max-width: 320px) {
  .backstage {
    padding: 30px 0px 40px 0px;
  }
}
.backstage .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 87px;
}
@media (max-width: 1000px) {
  .backstage .wrapper {
    gap: 31px;
  }
}
.backstage__decoration {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
@media (max-width: 1550px) {
  .backstage__decoration {
    display: none;
  }
}
@media (max-width: 800px) {
  .backstage__decoration {
    display: block;
  }
}
@media (max-width: 700px) {
  .backstage__decoration {
    height: 476px;
    right: -5%;
    top: 47%;
  }
}
@media (max-width: 639px) {
  .backstage__decoration {
    height: 217px;
    right: -5%;
  }
}
@media (max-width: 320px) {
  .backstage__decoration {
    top: 20%;
    right: -12%;
  }
}
@media (max-width: 1000px) {
  .backstage__image {
    width: 455px;
    height: 408px;
    object-fit: cover;
  }
}
@media (max-width: 800px) {
  .backstage__image {
    display: none;
  }
}
.backstage__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 490px;
}
@media (max-width: 430px) {
  .backstage__content {
    max-width: 250px;
  }
}
@media (max-width: 320px) {
  .backstage__content {
    max-width: 100%;
  }
}
.backstage__heading {
  margin-bottom: 20px;
  line-height: 100%;
}
@media (max-width: 640px) {
  .backstage__heading {
    line-height: 120%;
    margin-bottom: 20px;
  }
}
@media (max-width: 550px) {
  .backstage__heading {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  .backstage__heading {
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .backstage__text-1 {
    margin-bottom: 0px;
  }
}
.backstage__text-2 {
  padding-top: 64px;
  margin-bottom: 34px;
  font-size: 2.4rem;
}
@media (max-width: 640px) {
  .backstage__text-2 {
    padding-top: 32px;
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .backstage__text-2 {
    margin-bottom: 10px;
    padding-top: 20px;
  }
}

.pets {
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}
@media (max-width: 1000px) {
  .pets {
    padding-bottom: 140px;
  }
}
@media (max-width: 640px) {
  .pets {
    padding-bottom: 105px;
  }
}
@media (max-width: 320px) {
  .pets {
    padding-bottom: 60px;
  }
}
.pets__decoration-1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 1590px) {
  .pets__decoration-1 {
    height: 202px;
  }
}
@media (max-width: 480px) {
  .pets__decoration-1 {
    height: 72px;
  }
}
.pets__decoration-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 1590px) {
  .pets__decoration-2 {
    height: 180px;
  }
}
@media (max-width: 640px) {
  .pets__decoration-2 {
    height: 131px;
  }
}
@media (max-width: 480px) {
  .pets__decoration-2 {
    height: 71px;
  }
}
@media (max-width: 320px) {
  .pets__decoration-2 {
    right: -20px;
  }
}
.pets__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pets__grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 17px;
  margin-bottom: 78px;
}
@media (max-width: 640px) {
  .pets__grid {
    margin-bottom: 60px;
    gap: 13px;
  }
  .pets__grid .penguins {
    display: none;
  }
  .pets__grid .gorillas {
    display: none;
  }
}
@media (max-width: 320px) {
  .pets__grid {
    margin-bottom: 20px;
    gap: 20px;
  }
}

.pets__arrows {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 171px;
}
@media (max-width: 640px) {
  .pets__arrows {
    gap: 30px;
  }
}
@media (max-width: 320px) {
  .pets__arrows {
    display: none;
  }
}

.pets__arrow {
  width: 62px;
  height: 62px;
  background-color: #f9804b;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pet {
  outline: 1px solid #f9804b;
  border-radius: 5px;
}
@media (max-width: 1000px) {
  .pet {
    width: 295px;
    height: 354px;
  }
}
@media (max-width: 640px) {
  .pet {
    width: 285.24px;
    height: 332px;
  }
}
.pet__image {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.pet__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px 12px 16px;
}
@media (max-width: 640px) {
  .pet__content {
    padding: 2px 6px 10px 12px;
  }
}
.pet__name {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2px;
}
@media (max-width: 640px) {
  .pet__name {
    font-size: 12px;
  }
}
.pet__location {
  font-weight: 300;
}
@media (max-width: 640px) {
  .pet__location {
    font-size: 11.5px;
  }
}

.pick-and-feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
  padding-top: 70px;
}
@media (max-width: 1000px) {
  .pick-and-feed {
    padding: 30px 30px 50px 30px;
  }
}
@media (max-width: 700px) {
  .pick-and-feed {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }
}
@media (max-width: 640px) {
  .pick-and-feed {
    padding-top: 20px;
  }
}
@media (max-width: 320px) {
  .pick-and-feed {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.pick-and-feed .wrapper {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}
@media (max-width: 640px) {
  .pick-and-feed .wrapper {
    padding: 10px 20px 60px 10px;
  }
}
@media (max-width: 320px) {
  .pick-and-feed .wrapper {
    padding: 20px 10px 40px 10px;
  }
}
.pick-and-feed__heading {
  color: #f9804b;
  text-align: center;
  margin-bottom: 22px;
}
@media (max-width: 640px) {
  .pick-and-feed__heading {
    margin-bottom: 20px;
    font-size: 42px;
  }
}
@media (max-width: 320px) {
  .pick-and-feed__heading {
    font-size: 24px;
    margin-bottom: 11px;
  }
}
.pick-and-feed__text-1 {
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .pick-and-feed__text-1 {
    padding-left: 20px;
  }
}
@media (max-width: 640px) {
  .pick-and-feed__text-1 {
    font-size: 22px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
}
@media (max-width: 320px) {
  .pick-and-feed__text-1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }
}
.pick-and-feed__text-2 {
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 130%;
}
@media (max-width: 1000px) {
  .pick-and-feed__text-2 {
    width: 90%;
    padding-left: 20px;
  }
}
@media (max-width: 640px) {
  .pick-and-feed__text-2 {
    width: 100%;
    padding-left: 10px;
  }
}
@media (max-width: 320px) {
  .pick-and-feed__text-2 {
    display: none;
  }
}
.pick-and-feed__text-3 {
  margin-bottom: 40px;
  max-width: 863px;
  line-height: 130%;
}
@media (max-width: 1000px) {
  .pick-and-feed__text-3 {
    padding-left: 0;
    width: 95%;
    padding-left: 20px;
  }
}
@media (max-width: 640px) {
  .pick-and-feed__text-3 {
    margin-bottom: 30px;
    width: 100%;
    padding-left: 10px;
  }
}
@media (max-width: 320px) {
  .pick-and-feed__text-3 {
    display: none;
  }
}
.pick-and-feed h4 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 400;
}
@media (max-width: 640px) {
  .pick-and-feed h4 {
    margin-bottom: 15px;
  }
}
@media (max-width: 320px) {
  .pick-and-feed h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.pick-and-feed__button {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
@media (max-width: 640px) {
  .pick-and-feed__button {
    padding-top: 0px;
  }
}
@media (max-width: 320px) {
  .pick-and-feed__button {
    padding-top: 10px;
  }
}

.pick-and-feed__steps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
}
@media (max-width: 640px) {
  .pick-and-feed__steps {
    gap: 42px;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .pick-and-feed__steps {
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .pick-and-feed__steps {
    gap: 20px;
  }
}

.step {
  max-width: 168px;
  height: 244px;
}
@media (max-width: 320px) {
  .step {
    height: 222px;
  }
}
.step__image {
  width: 168px;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #f9804b;
  border-radius: 5px;
  margin-bottom: 30px;
}
@media (max-width: 320px) {
  .step__image {
    margin-bottom: 15px;
  }
}

.steps__arrow {
  margin-bottom: 70px;
}
@media (max-width: 850px) {
  .steps__arrow {
    display: none;
  }
}

.steps__arrow-green {
  display: none;
}
@media (max-width: 640px) {
  .steps__arrow-green {
    display: block;
    position: absolute;
  }
}

.arrow-green-1 {
  top: -17px;
  left: 147px;
}
@media (max-width: 470px) {
  .arrow-green-1 {
    left: 280px;
    top: 220px;
    transform: rotate(90deg);
  }
}
@media (max-width: 360px) {
  .arrow-green-1 {
    left: 220px;
  }
}
@media (max-width: 320px) {
  .arrow-green-1 {
    left: 198px;
    top: 195px;
  }
}

.arrow-green-2 {
  top: -17px;
  left: 357px;
}
@media (max-width: 470px) {
  .arrow-green-2 {
    left: 280px;
    top: 500px;
    transform: rotate(90deg);
  }
}
@media (max-width: 360px) {
  .arrow-green-2 {
    left: 220px;
    top: 450px;
  }
}
@media (max-width: 320px) {
  .arrow-green-2 {
    left: 198px;
    top: 440px;
  }
}

.testimonials {
  padding-top: 143px;
  padding-bottom: 180px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .testimonials {
    padding-bottom: 140px;
    padding-top: 100px;
  }
}
@media (max-width: 640px) {
  .testimonials {
    padding-bottom: 80px;
    padding-top: 60px;
  }
}
@media (max-width: 320px) {
  .testimonials {
    padding-bottom: 60px;
    padding-top: 30px;
  }
}
.testimonials h4 {
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 320px) {
  .testimonials h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.testimonials-decoration {
  position: absolute;
  right: 0;
  bottom: -120px;
}
@media (max-width: 1000px) {
  .testimonials-decoration {
    width: 239px;
  }
}
@media (max-width: 640px) {
  .testimonials-decoration {
    width: 149px;
    bottom: -100px;
  }
}
@media (max-width: 450px) {
  .testimonials-decoration {
    width: 77px;
    bottom: -60px;
  }
}
@media (max-width: 320px) {
  .testimonials-decoration {
    width: 77px;
    bottom: -60px;
  }
}

.testimonials__reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  max-height: 400px;
}
@media (max-width: 640px) {
  .testimonials__reviews {
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 320px) {
  .testimonials__reviews {
    margin-bottom: 0px;
  }
}

.review {
  padding: 15px 15px 19px 16px;
  border: 2px solid pink;
  border-radius: 20px;
  width: 263px;
}
@media (max-width: 1000px) {
  .review {
    width: 293px;
  }
}
@media (max-width: 640px) {
  .review {
    width: 100%;
    height: 109px;
  }
}
@media (max-width: 320px) {
  .review {
    padding: 10px 10px 12px 12px;
  }
}
.review__author-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.review__author-location {
  color: #bdbdbd;
}
.review__content {
  color: #bdbdbd;
  max-height: 309px;
  max-width: 237px;
  overflow: hidden;
}
@media (max-width: 640px) {
  .review__content {
    max-width: 1000px;
    max-height: 30px;
  }
}
@media (max-width: 320px) {
  .review__content {
    color: black;
  }
}

.testimonials__input {
  margin-bottom: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 640px) {
  .testimonials__input {
    display: none;
  }
}

.testimonials__button {
  display: flex;
}
@media (max-width: 640px) {
  .testimonials__button {
    justify-content: center;
    padding-top: 30px;
  }
}
@media (max-width: 640px) {
  .testimonials__button .button {
    width: 240px;
  }
}

.input-range {
  width: 599px;
  height: 6px;
  background: #fe9013;
  border-radius: 5px;
  border: 0.5px solid pink;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
}

.input-range::-webkit-slider-runnable-track {
  width: 599px;
  height: 6px;
  background: #f5f7f6;
  border-radius: 5px;
}

.input-range::-webkit-slider-thumb {
  background: #fe9013;
  cursor: pointer;
  width: 115.2px;
  height: 6px;
  border-radius: 5px;
  -webkit-appearance: none;
}

.panda-bg {
  display: block;
  width: 100%;
  height: 390px;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 640px) {
  .panda-bg {
    height: 335px;
  }
}

.panda-bg {
  display: block;
  padding-top: 80px;
  object-position: center;
}
@media (max-width: 1000px) {
  .panda-bg {
    height: 470px;
  }
}
@media (max-width: 640px) {
  .panda-bg {
    padding-top: 34px;
    height: 370px;
    object-position: center;
  }
}
@media (max-width: 320px) {
  .panda-bg {
    height: 221px;
  }
}

.main {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
  padding-bottom: 180px;
  padding-top: 40px;
}
@media (max-width: 1000px) {
  .main {
    padding-bottom: 30px;
  }
}
@media (max-width: 640px) {
  .main {
    padding-top: 30px;
    padding-bottom: 46px;
  }
}
@media (max-width: 320px) {
  .main {
    padding-bottom: 21px;
  }
}
.main__heading-1 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
  line-height: 130%;
}
@media (max-width: 1000px) {
  .main__heading-1 {
    margin-bottom: 30px;
  }
}
@media (max-width: 640px) {
  .main__heading-1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
@media (max-width: 320px) {
  .main__heading-1 {
    font-size: 24px;
  }
}
.main__text-1 {
  font-weight: 500;
  color: white;
  margin-bottom: 45px;
  line-height: 140%;
}
@media (max-width: 640px) {
  .main__text-1 {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .main__text-1 {
    margin-bottom: 20px;
  }
}
.main__heading-2 {
  color: #f9804b;
  margin-bottom: 60px;
}
@media (max-width: 1000px) {
  .main__heading-2 {
    margin-bottom: 40px;
  }
}
@media (max-width: 640px) {
  .main__heading-2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .main__heading-2 {
    font-size: 24px;
  }
}

.content {
  padding: 40px 92px 62px 92px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}
@media (max-width: 1000px) {
  .content {
    padding: 20px 44px 46px 47px;
  }
}
@media (max-width: 640px) {
  .content {
    padding: 30px 0px 30px 0px;
  }
}
@media (max-width: 320px) {
  .content {
    padding: 20px 0px 20px 0px;
  }
}
.content__heading {
  text-align: center;
  color: #f9804b;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .content__heading {
    margin-bottom: 10px;
  }
}
@media (max-width: 640px) {
  .content__heading {
    margin-bottom: 20px;
  }
}
@media (max-width: 520px) {
  .content__heading {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  .content__heading {
    margin-bottom: 15px;
  }
}
.content__text-1 {
  font-size: 24px;
  margin-bottom: 60px;
}
@media (max-width: 640px) {
  .content__text-1 {
    margin-bottom: 50px;
    text-align: center;
  }
}
@media (max-width: 520px) {
  .content__text-1 {
    font-size: 16px;
  }
}

.panda-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 215px;
  position: relative;
}
@media (max-width: 640px) {
  .panda-box {
    margin-bottom: 190px;
  }
}
@media (max-width: 320px) {
  .panda-box {
    margin-bottom: 80px;
  }
}
.panda-box__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 11px;
}
.panda-box__amount {
  font-size: 72px;
  font-weight: 500;
}
@media (max-width: 520px) {
  .panda-box__amount {
    font-size: 40px;
  }
}
.panda-box__text {
  text-align: center;
}
@media (max-width: 520px) {
  .panda-box__text {
    font-size: 12px;
  }
}
.panda-box__x {
  margin-right: 64px;
}
@media (max-width: 520px) {
  .panda-box__x {
    margin-right: 36px;
  }
}
@media (max-width: 520px) {
  .panda-box__svg {
    width: 151px;
    height: 111px;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.form__input {
  width: 268px;
  font-size: 16px;
  padding: 1.6rem 0.9rem;
  background: transparent;
  outline: none;
  border: 1px solid #929699;
  border-radius: 2px;
  margin-bottom: 2.5rem;
}
@media (max-width: 640px) {
  .form__input {
    width: 180px;
  }
}
@media (max-width: 320px) {
  .form__input {
    width: 180px;
  }
}
.form__radio-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.form__radio-input {
  margin-right: 10px;
}
.form__button {
  margin-bottom: 35px;
}
.form__text {
  text-align: center;
}
@media (max-width: 320px) {
  .form__text {
    font-size: 12px;
  }
}

.label-1 {
  display: block;
  margin-right: 50px;
}

/*# sourceMappingURL=style.css.map */
