.hamburger {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.hamburger.active {
  .hamburger__line:nth-child(2) {
    opacity: 0;
  }
  .hamburger__line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .hamburger__line:nth-child(3) {
    transform: translateY(-2px) rotate(-45deg);
  }
}

.hamburger__line {
  width: 18px;
  height: 2px;
  border-radius: 4px;
  background-color: white;
  transition: all 0.3s;
}
